<style>
    ﻿.top-menu {
        justify-content: center;
        display: flex;
        width: 100%;
        background-color: black;
    }
</style>

<AuthorizeView>
    <Authorized>
        <div class="top-menu">
             <a href="Profil">User: @context.User.Identity?.Name</a>
            <button @onclick="Logout" class="btn danger">Logout</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            <NavLink href="login">Login</NavLink> |
            @*<NavLink href="register">Register</NavLink>*@
        </div>
    </NotAuthorized>
</AuthorizeView>
@inject IAuthService authService
@inject AuthenticationStateProvider authenticationStateProvider
@inject ILocalStorageService localStorageService
@inject  NavigationManager navigationManager 
@code{
    
   async Task Logout()
    {
        await localStorageService.RemoveItemAsync("authToken");
   
        await authenticationStateProvider.GetAuthenticationStateAsync();
        navigationManager.NavigateTo("/");
    }
}